.song-controls {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
  background-color: transparent;
  border: none;

  .control-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--text-secondary);
    font-size: 1.5rem;
    transition: all 0.2s cubic-bezier(0.2, 0, 0, 1);

    &:hover {
      transform: scale(1.1);
      color: var(--text-light);
    }
    &:active {
      transform: scale(0.95);
    }
  }

  .record {
    width: 1.5rem;
    height: 1.5rem;
    filter: drop-shadow(0 0 5px rgba(224, 176, 255, 0.3));
  }

  .record-playing {
    animation: rotate 2s linear infinite;
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
}
